:root{
    --bgImg: url('https://raw.githubusercontent.com/SomePotato/FuuroKeyboard/refs/heads/main/media/bochu3.png');
}

div[data-key-row="1"][data-key-col="1"] div._2KhPXikozxMpbIRo_6jPxW.Col_1.KeyTheme_q {
    background-position-x: 80%;
    background-position-y: 0%;
}
div[data-key-row="1"][data-key-col="0"] div._2KhPXikozxMpbIRo_6jPxW._3GfcsK1T47BLa5UQ3e4Xh3.Col_0.KeyTheme_Tab {
    background-position-x: 24%;
    background-position-y: 0%;
}
div[data-key-row="2"][data-key-col="0"] div._2KhPXikozxMpbIRo_6jPxW.NGv5FNsp6c4OnD0_KOiDl.Col_0.KeyTheme_CapsLock {
    background-position-x: 29%;
    background-position-y: 21%;
}

div[data-key-row="3"][data-key-col="0"] div._2KhPXikozxMpbIRo_6jPxW._2ye7YjL-n6ql_6UPyf5ptv.Col_0.KeyTheme_Shift {
    background-position-x: 55%;
    background-position-y: 41%;
}
div[data-key-row="4"][data-key-col="0"] div._2KhPXikozxMpbIRo_6jPxW._1WbIjnypHqw8t8_NFQHPJr.Col_0.KeyTheme_SwitchKeys_Steam {
    background-position-x: 24%;
    background-position-y: 62%;
}